.fonts-loaded body {
  --letterSpacingH1: var(--letterSpacingsXxs);
  --letterSpacingH2: var(--letterSpacingsXs);
  --letterSpacingH3: 0;
  --letterSpacingH6: var(--letterSpacingsSm);
  --wordSpacingH1: 0;
  --wordSpacingH2: 0;
  --wordSpacingH3: 0;
  --textIndentH3: 0;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: var(--fontFamilyHeading);
  line-height: var(--lineHeightsMd);
}

h1,
.h1,
h2,
.h2 {
  font-weight: var(--fontWeightsBold);
}

h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: var(--fontWeightsRegular);
}

h1,
.h1 {
  font-size: var(--fontSizes100);
  letter-spacing: var(--letterSpacingH1);
  word-spacing: var(--wordSpacingH1);
}
h2,
.h2 {
  font-size: var(--fontSizes90);
  letter-spacing: var(--letterSpacingH2);
  word-spacing: var(--wordSpacingH2);
}
h3,
.h3 {
  font-size: var(--fontSizes80);
  letter-spacing: var(--letterSpacingH3);
  word-spacing: var(--wordSpacingH3);
  text-indent: var(--textIndentH3);
}
h4,
.h4 {
  font-size: var(--fontSizes70);
}
h5,
.h5 {
  font-size: var(--fontSizes60);
}
h6,
.h6 {
  font-size: var(--fontSizes50);
  letter-spacing: var(--letterSpacingsSm);
  letter-spacing: var(--letterSpacingH6);
}

.text-base-lg {
  font-size: var(--fontSizes50);
}
p,
.text-base {
  font-size: var(--fontSizes30);
  line-height: var(--lineHeightsLg);
}

.text-base-sm {
  font-size: var(--fontSizes20);
  line-height: var(--lineHeightsLg);
}

a,
.link {
  font-size: var(--fontSizes30);
  line-height: var(--lineHeightsSm);
  text-transform: uppercase;
  letter-spacing: var(--letterSpacingsXl);
  text-decoration: none;
  color: var(--interactionPrimaryColor);
  cursor: pointer;
}

a:hover,
.link:hover {
  color: var(--interactionPrimaryColorHover);
  text-decoration: underline;
}
a:focus-visible,
.link:focus-visible {
  outline: none;
  color: var(--interactionPrimaryColorFocus);
  text-decoration: underline;
}
a:active,
.link:active {
  color: var(--interactionPrimaryColorActive);
}

.overline {
  font-weight: var(--fontWeightsBold);
  font-size: var(--fontSizes20);
  line-height: var(--lineHeightSm);
  text-transform: uppercase;
  letter-spacing: var(--letterSpacingsXl);
  color: var(--colorAccent);
}
.caption {
  font-size: var(--fontSizes20);
  line-height: var(--lineHeightsSm);
  text-transform: uppercase;
  letter-spacing: var(--letterSpacingsLg);
}

/* --- Utility classes --- */
.text-condensed {
  line-height: var(--lineHeightsSm);
}
.text-color-accent {
  color: var(--colorAccent);
}
.text-align-right {
  text-align: right;
}
.text-align-center {
  text-align: center;
}
.reset-text {
  font-size: inherit;
  letter-spacing: inherit;
  text-transform: initial;
}
