:root {
  --space1x: 0.5rem;
  --space2x: 1rem;
  --space3x: 1.5rem;
  --space4x: 2rem;
  --space6x: 3rem;
  --space8x: 4rem;
  --space10x: 5rem;
  --space12x: 6rem;
  --space20x: 10rem;
  --space30x: 15rem;

  --green50: #ebf2b3;
  --green100: #c3d98c;
  --green200: #9bbf65;
  --green300: #80b334;
  --green400: #65a603;
  --green500: #508d03;
  --green600: #407603;
  --green700: #2f5f02;
  --green800: #244d02;
  --green900: #192a01;

  --brown50: #faf2db;
  --brown100: #eed9aa;
  --brown200: #debc7d;
  --brown300: #c99d55;
  --brown400: #b8873d;
  --brown500: #a66617;
  --brown600: #8f5814;
  --brown700: #6a4210;
  --brown800: #472c0a;
  --brown900: #362108;

  --neutral50: #eff8fa;
  --neutral100: #e2ebee;
  --neutral200: #d5dee2;
  --neutral300: #bbc4c9;
  --neutral400: #869097;
  --neutral500: #6c767e;
  --neutral600: #515c65;
  --neutral700: #37424c;
  --neutral800: #28333e;
  --neutral900: #1c2833;

  --fontBase: Montserrat;
  --fontHeading: 'Barlow Condensed';

  --fontWeightsRegular: 400;
  --fontWeightsMedium: 500;
  --fontWeightsBold: 700;

  --fontSizes20: 0.875rem;
  --fontSizes30: 1rem;
  --fontSizes40: 1.125rem;
  --fontSizes50: 1.25rem;
  --fontSizes60: 1.5rem;
  --fontSizes70: 2rem;
  --fontSizes80: 3rem;
  --fontSizes90: 4rem;
  --fontSizes100: 6rem;

  --letterSpacingsXxs: -1.5px;
  --letterSpacingsXs: -0.5px;
  --letterSpacingsBase: 0;
  --letterSpacingsSm: 0.15px;
  --letterSpacingsMd: 0.25px;
  --letterSpacingsLg: 0.5px;
  --letterSpacingsXl: 1.5px;

  --lineHeightsSm: 1;
  --lineHeightsMd: 1.25;
  --lineHeightsLg: 1.5;

  --radiiSm: 4px;
  --radiiMd: 8px;
  --radiiLg: 16px;

  --shadow: 0 0 0 0 #00000026, 3 4 11 0 #00000026, 11 18 21 0 #00000021,
    24 40 28 0 #00000014, 43 70 33 0 #00000005, 67 110 36 0 #00000000;

  --headline1: var(--sdFontWeightsBold) var(--sdFontSizes100) /
    var(--sdLineHeightMd) var(--sdFontsHeading);
  --headline1Condensed: var(--sdFontWeightsBold) var(--sdFontSizes100) /
    var(--sdLineHeightSm) 1 var(--sdFontsHeading);
  --headline2: var(--sdFontWeightsBold) var(--sdFontSizes90) /
    var(--sdLineHeightMd) var(--sdFontsHeading);
  --headline3: var(--sdFontWeightsRegular) var(--sdFontSizes80) /
    var(--sdLineHeightMd) var(--sdFontsHeading);
  --headline4: var(--sdFontWeightsRegular) var(--sdFontSizes70) /
    var(--sdLineHeightMd) var(--sdFontsHeading);
  --headline5: var(--sdFontWeightsRegular) var(--sdFontSizes60) /
    var(--sdLineHeightMd) var(--sdFontsHeading);
  --headline6: var(--sdFontWeightsRegular) var(--sdFontSizes50) /
    var(--sdLineHeightMd) var(--sdFontsHeading);
  --subtitle: var(--sdFontWeightsRegular) var(--sdFontSizes40) /
    var(--sdLineHeightMd) var(--sdFontsHeading);
  --body1: var(--sdFontWeightsRegular) var(--sdFontSizes30) /
    var(--sdLineHeightLg) var(--sdFontsBase);
  --base2: var(--sdFontWeightsRegular) var(--sdFontSizes20) /
    var(--sdLineHeightLg) var(--sdFontsBase);
  --button: var(--sdFontWeightMedium) var(--sdFontSizes30) /
    var(--sdLineHeightSm) var(--sdFontsBase);
  --caption: var(--sdFontWeightsRegular) var(--sdFontSizes20) /
    var(--sdLineHeightSm) var(--sdFontsBase);
  --overline: var(--sdFontWeightsBold) var(--sdFontSizes20) /
    var(--sdLineHeightSm) var(--sdFontsBase);
}
