:root {
  --s0: 0;
  --s1: 0.5rem;
  --s2: 1rem;
  --s3: 1.5rem;
  --s4: 2rem;
  --s6: 3rem;
  --s8: 4rem;
  --s10: 5rem;
  --s12: 6rem;
  --s20: 10rem;
  --s30: 15rem;

  --green50: #ebf2b3;
  --green100: #c3d98c;
  --green200: #9bbf65;
  --green300: #80b334;
  --green400: #65a603;
  --green500: #508d03;
  --green600: #407603;
  --green700: #2f5f02;
  --green800: #244d02;
  --green900: #192a01;

  --brown50: #faf2db;
  --brown100: #eed9aa;
  --brown200: #debc7d;
  --brown300: #c99d55;
  --brown400: #b8873d;
  --brown500: #a66617;
  --brown600: #8f5814;
  --brown700: #6a4210;
  --brown800: #472c0a;
  --brown900: #362108;

  --neutral50: #eff8fa;
  --neutral100: #e2ebee;
  --neutral200: #d5dee2;
  --neutral300: #bbc4c9;
  --neutral400: #869097;
  --neutral500: #6c767e;
  --neutral600: #515c65;
  --neutral700: #37424c;
  --neutral800: #28333e;
  --neutral900: #1c2833;

  --fontBase: Montserrat;
  --fontHeading: 'Barlow Condensed';
  --fontFamilyBase: var(--fontBase), -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  --fontFamilyHeading: var(--fontHeading), -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';

  --fontWeightsRegular: 400;
  --fontWeightsMedium: 500;
  --fontWeightsBold: 700;

  --fontSizes20: clamp(0.75rem, 0.221vw + 0.698rem, 0.875rem);
  --fontSizes30: clamp(0.875rem, 0.221vw + 0.823rem, 1rem);
  --fontSizes40: clamp(0.875rem, 0.442vw + 0.771rem, 1.125rem);
  --fontSizes50: clamp(1rem, 0.442vw + 0.896rem, 1.25rem);
  --fontSizes60: clamp(1.125rem, 0.663vw + 0.97rem, 1.5rem);
  --fontSizes70: clamp(1.25rem, 1.326vw + 0.939rem, 2rem);
  --fontSizes80: clamp(1.5rem, 2.652vw + 0.878rem, 3rem);
  --fontSizes90: clamp(2rem, 3.536vw + 1.171rem, 4rem);
  --fontSizes100: clamp(3rem, 5.304vw + 1.757rem, 6rem);

  --letterSpacingsXxs: -1.5px;
  --letterSpacingsXs: -0.5px;
  --letterSpacingsBase: 0;
  --letterSpacingsSm: 0.15px;
  --letterSpacingsMd: 0.25px;
  --letterSpacingsLg: 0.5px;
  --letterSpacingsXl: 1.5px;

  --lineHeightsSm: 1;
  --lineHeightsMd: 1.25;
  --lineHeightsLg: 1.5;

  --radiiSm: 4px;
  --radiiMd: 8px;
  --radiiLg: 16px;

  --shadow: 0 0 0 0 #00000026, 3 4 11 0 #00000026, 11 18 21 0 #00000021,
    24 40 28 0 #00000014, 43 70 33 0 #00000005, 67 110 36 0 #00000000;

  --transition: 300ms;

  --colorBackground: var(--green900);
  --colorText: white;
  --colorAccent: var(--brown300);

  --interactionPrimaryColor: var(--brown300);
  --interactionPrimaryColorContrast: var(--brown900);
  --interactionPrimaryColorHover: var(--brown200);
  --interactionPrimaryColorFocus: var(--brown200);
  --interactionPrimaryColorActive: var(--brown200);
  --interactionPrimaryOutline: var(--brown50);
}
