---
import NavList from '../common/NavList.astro';
import LogoKCT from '../../assets/logo-kct.svg?raw';
---

<footer class="main-footer">
  <nav class="footer-nav">
    <NavList class="footer-nav-list" />
  </nav>

  <div class="organizer">
    <Fragment set:html={LogoKCT} />
    <p>Datová schránka: 7ggiwbm</p>
  </div>
</footer>

<style>
  :root {
    --footerPadding: var(--s2) var(--s4) var(--s4) var(--s4);
    --footerDirection: column;
    --footerNavListDirection: column;
    --footerNavListGap: var(--s1);
  }
  @media screen and (min-width: 48rem) {
    :root {
      --footerDirection: row;
      --footerJustify: space-between;
    }
  }
  @media screen and (min-width: 64rem) {
    :root {
      --footerPadding: var(--s4);
      --footerNavListDirection: row;
      --footerNavListGap: var(--s4);
    }
  }
  @media screen and (min-width: 80rem) {
    :root {
      --footerPadding: var(--s4) var(--s8);
    }
  }
  .main-footer {
    background-color: black;
    padding: var(--footerPadding);
    display: flex;
    flex-direction: var(--footerDirection);
    justify-content: var(--footerJustify);
    align-items: center;
    gap: var(--s8);
  }
  .footer-nav-list {
    flex-direction: var(--footerNavListDirection);
    gap: var(--footerNavListGap);
  }

  .organizer {
    display: flex;
    flex-direction: column;
    gap: var(--s4);
    align-items: center;
  }
  :global(.logo-kct) {
    height: 4rem;
  }
</style>
