---
import { BackgroundPicture } from 'astro-imagetools/components';
import { getAnchor } from '../../configs/navigation.js';
import Cover from '../common/Cover.astro';
import CTA from '../common/CTA.astro';
import Scroller from '../common/Scroller.astro';
import Stack from '../common/Stack.astro';
import Switcher from '../common/Switcher.astro';

const sectionAnchor = getAnchor('home');
const galleryAnchor = getAnchor('gallery');
---

<section class="hero" id={sectionAnchor}>
  <BackgroundPicture
    src="/src/assets/background.jpg"
    objectFit="cover"
    breakpoints={[375, 768, 1024, 1440, 1920]}
  >
    <Cover>
      <Stack gutter={'s12'} justify="center" slot="center">
        <Switcher gutter={'s8'} threshold="60rem" class="headline">
          <h1 class="title-main text-condensed">
            PROVODÍNSKÁ ŠTRAPANDA <span class="text-color-accent">2024</span>
          </h1>
          <div class="separator"></div>
          <Stack gutter={'s1'} class="event-data">
            <p class="h2">Sobota 15.&nbsp;června 2024</p>
            <p class="h3">Sportovní areál u&nbsp;nádraží Jestřebí</p>
          </Stack>
        </Switcher>
        <CTA href={`#${galleryAnchor}`}>Prohlédnout fotografie</CTA>
      </Stack>
      <Scroller slot="bottom" />
    </Cover>
  </BackgroundPicture>
</section>

<style>
  :root {
    --titleTextAlign: center;
    --separatorHeight: 1px;
    --separatorWidth: auto;
    --separatorBasis: 5rem;
    --separatorDisplay: none;
    --eventDataAlign: center;
    --eventDataTextAlign: center;
  }

  @media screen and (min-width: 64rem) {
    :root {
      --titleTextAlign: right;
      --separatorHeight: 5rem;
      --separatorWidth: auto;
      --separatorBasis: 1px;
      --separatorDisplay: block;
      --eventDataAlign: flex-start;
      --eventDataTextAlign: left;
    }
  }

  .headline {
    align-items: center;
    justify-content: center;
  }

  .title-main {
    text-align: var(--titleTextAlign);
  }
  .event-data {
    align-items: var(--eventDataAlign);
    text-align: var(--eventDataTextAlign);
  }

  .separator {
    display: var(--separatorDisplay);
    flex-basis: var(--separatorBasis);
    height: var(--separatorHeight);
    width: var(--separatorWidth);
    flex-grow: 0;
    background: var(--colorAccent);
  }
</style>
