---
import { getAnchor } from '../../configs/navigation.js';
import Section from '../common/Section.astro';
import SectionHeader from '../common/SectionHeader.astro';
import Stack from '../common/Stack.astro';

const anchor = getAnchor('testimonials');
---

<Section id={anchor} gradient="top">
  <SectionHeader title="Hlásí se 47. ročník" />
  <Stack gutter="s4" justify="center">
    <p class="text-base-lg">
      Po loňské úspěšné Štrapandě, která měla 660 účastníků, máme připraveny
      staronové trasy pro letošní štrapandění. Na 15. června jsou připraveny
      3&nbsp;pěší a&nbsp;3&nbsp;cyklistické trasy. Pěší turisty nasměrujeme
      klasicky k&nbsp;Braniborské jeskyni a&nbsp;směrem na Doksy. Cyklisté
      pojedou směrem na&nbsp;lipskou stranu a&nbsp;pak přes Kozly. Na nejdelší
      trase jim nabídneme i&nbsp;občerstvení pro mlsné na kontrole
      v&nbsp;Kravařích. Bližší údaje o&nbsp;trasách zveřejníme v&nbsp;průběhu
      května. Objeví se nová sada štrapanďáckých triček a&nbsp;jiný upomínkový
      předmět.
    </p>
    <p class="text-base-lg">
      Na druhou stranu jako každý rok se nám bude hodit každá ruka ochotná
      pomoci v průběhu akce. Kdo by měl zájem může se ozvat na <a
        href="mailto:podrazky.petr@gmail.com"
        class="reset-text">mail</a
      > nebo na <a
        href="https://www.facebook.com/provodinskastrapanda24"
        class="reset-text"
        target="_blank"
        rel="noopener">facebookové stránce</a
      >.
    </p>
  </Stack>
</Section>

<style></style>
