---
import { getAnchor } from '../../configs/navigation.js';
import Quote from '../common/Quote.astro';
import Section from '../common/Section.astro';
import SectionHeader from '../common/SectionHeader.astro';
import Stack from '../common/Stack.astro';

const anchor = getAnchor('testimonials');
---

<Section id={anchor} gradient="top">
  <SectionHeader title="Kronika Provod칤nsk칠 맚rapandy" />
  <!-- <iframe
    class="tally-form"
    data-tally-src="https://tally.so/embed/w4QdgX?alignLeft=1&hideTitle=1&transparentBackground=1&dynamicHeight=1"
    loading="lazy"
    height="100"
    frameborder="0"
    marginheight="0"
    marginwidth="0"
    title="Kronika Provod칤nsk칠 맚rapandy"></iframe><script>
    const d = document,
      w = 'https://tally.so/widgets/embed.js',
      v = function () {
        'undefined' != typeof Tally
          ? Tally.loadEmbeds()
          : d
              .querySelectorAll('iframe[data-tally-src]:not([src])')
              .forEach(function (e) {
                e.src = e.dataset.tallySrc;
              });
      };
    if ('undefined' != typeof Tally) v();
    else if (d.querySelector('script[src="' + w + '"]') == null) {
      const s = d.createElement('script');
      (s.src = w), (s.onload = v), (s.onerror = v), d.body.appendChild(s);
    }
  </script> -->
  <Stack gutter="s10" justify="center">
    <Quote author="Dana">
      Jeli jsme letos po druh칠 cyklo trasu a moc super akce.<br />U se t캩코칤me
      na p콏칤코t칤.
    </Quote>
    <Quote author="Vendula">
      Provod칤nsk치 맚rapanda je skv캩l치 jezd칤me ka쬯칳 rok s p콏치teli na kolech.
      Skv캩l치 krajina moc se n치m tam l칤b칤&nbsp;游땕. Cyklotrasy super vymy코len칠,
      n캩kdy je to ale z치hul 游때
    </Quote>
    <Quote author="Petr">
      Jako organiz치tor akce Za kvetouc칤 m캩s칤캜nic칤 v칤m, co p콏칤prava
      a&nbsp;organizace sebou p콏in치코칤. Jsem moc r치d, 쬰 se poda콏ilo v akci
      pokra캜ovat a&nbsp;p콏칤코t칤 rok jsme u&nbsp;V치s zase :-) 맓i jsme pouze p캩코칤
      trasu 7km, ale moc se n치m l칤bila a&nbsp;organizace byla na jedni캜ku.
    </Quote>
    <Quote author="Martina">
      Moc se mi l칤bila i&nbsp;p콏esto, 쬰 jsme 3x zmokli, tak trasa pro cyklo 60
      km byla n치dhern치. A&nbsp;mimo jine i z치v캩r s&nbsp;v칳bornou klob치sou byl
      velice p콏칤jemn칳. T캩코칤m se na p콏칤코t칤 cyklo trasu, jako ka쬯칳 rok 游땕
    </Quote>
    <Quote author="Ivana">
      Bylo to moc super. Letos jsem 코la i&nbsp;s&nbsp;kamar치dkou poprv칠
      a&nbsp;byly jsme ob캩 nad코en칠!
    </Quote>
  </Stack>
</Section>

<style>
  .tally-form {
    margin: 0 auto;
    width: 100%;
  }

  @media screen and (min-width: 48rem) {
    .tally-form {
      width: 80%;
    }
  }
  @media screen and (min-width: 80rem) {
    .tally-form {
      width: 60%;
    }
  }
</style>
