---
import { getAnchor } from '../../configs/navigation.js';
import Quote from '../common/Quote.astro';
import Section from '../common/Section.astro';
import SectionHeader from '../common/SectionHeader.astro';
import Stack from '../common/Stack.astro';

const anchor = getAnchor('testimonials');
---

<Section id={anchor}>
  <SectionHeader title="Kronika Provod칤nsk칠 맚rapandy" />
  <Stack gutter="s10" justify="center">
    <Quote author="Petr">
      Jako organiz치tor akce Za kvetouc칤 m캩s칤캜nic칤 v칤m, co p콏칤prava
      a&nbsp;organizace sebou p콏in치코칤. Jsem moc r치d, 쬰 se poda콏ilo v akci
      pokra캜ovat a&nbsp;p콏칤코t칤 rok jsme u&nbsp;V치s zase :-) 맓i jsme pouze p캩코칤
      trasu 7km, ale moc se n치m l칤bila a&nbsp;organizace byla na jedni캜ku.
    </Quote>
    <Quote author="Martina">
      Moc se mi l칤bila i&nbsp;p콏esto, 쬰 jsme 3x zmokli, tak trasa pro cyklo 60
      km byla n치dhern치. A&nbsp;mimo jine i z치v캩r s&nbsp;v칳bornou klob치sou byl
      velice p콏칤jemn칳. T캩코칤m se na p콏칤코t칤 cyklo trasu, jako ka쬯칳 rok 游땕
    </Quote>
    <Quote author="Ivana">
      Bylo to moc super. Letos jsem 코la i&nbsp;s&nbsp;kamar치dkou poprv칠
      a&nbsp;byly jsme ob캩 nad코en칠!
    </Quote>
    <Quote author="Vendula">Bylo to super, jezd칤me ka쬯칳 rok 游녨</Quote>
  </Stack>
</Section>

<style></style>
