---
export interface Props {
  children: unknown;
  className?: string;
  id?: string | undefined;
  gradient?: 'none' | 'top' | 'bottom';
}

const { className, id, gradient = 'none' } = Astro.props;

const gradientVar =
  gradient === 'top'
    ? 'linear-gradient(#244d02ff 1%, #244d0200 100%)'
    : gradient === 'bottom'
    ? 'linear-gradient(#244d0200 0%, #244d02ff 99%)'
    : 'transparent';
---

<section id={id} class="section-wrapper">
  <div class:list={['section', 'stack', className]}>
    <slot />
  </div>
</section>

<style define:vars={{ gradient: gradientVar }}>
  :root {
    --sectionPadding: var(--s6) var(--s4);
    --sectionGap: var(--s6);
  }
  @media screen and (min-width: 48rem) {
    :root {
      --sectionPadding: var(--s10) var(--s6);
    }
  }
  @media screen and (min-width: 80rem) {
    :root {
      --sectionPadding: var(--s16) var(--s8);
      --sectionGap: var(--s8);
    }
  }

  .section-wrapper {
    background-image: var(--gradient);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }
  .section {
    padding: var(--sectionPadding);
    gap: var(--sectionGap);
    max-width: 90rem;
    margin: 0 auto;
  }
</style>
