---
import type { Space } from '../../types/variables.js';

export interface Props {
  gutter?: Space;
  threshold?: string;
  class?: string;
  children: unknown;
  justify?: string;
}
const {
  gutter = 's4',
  threshold = '30rem',
  class: className,
  justify = 'flex-start',
} = Astro.props;

const cssGutter = `var(--${gutter})`;
---

<div class:list={['switcher', className]}>
  <slot />
</div>

<style define:vars={{ gutter: cssGutter, threshold, justify }}>
  .switcher {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gutter);
    justify-content: var(--justify);
  }

  .switcher > :global(*) {
    flex-grow: 1;
    flex-basis: calc(((var(--threshold)-1px) - 100%) * 999);
  }
</style>
