---
import type { CollectionEntry } from 'astro:content';

export interface Props {
  length: CollectionEntry<'tracks'>['data']['length'];
  type: CollectionEntry<'tracks'>['data']['type'];
  description: CollectionEntry<'tracks'>['body'];
}

const { length, type, description } = Astro.props;
---

<article class:list={['track stack', type]}>
  <header class="track-header stack">
    <p class="overline">{type === 'hike' ? 'Pro pěší' : 'Pro cyklisty'}</p>
    <h3>{length}&nbsp;km</h3>
  </header>
  <p>{description}</p>
</article>

<style>
  .track {
    gap: var(--s4);
    background-blend-mode: soft-light;
    background-size: 120%;
    background-position: center;
    border-radius: var(--radiiLg);
    box-shadow: var(--shadow);
    padding: var(--s4);
    max-width: 26rem;
  }
  .track.hike {
    background-image: url('/src/assets/hike.svg'),
      linear-gradient(180deg, var(--green700) 0%, var(--green800) 100%);
  }
  .track.bike {
    background-image: url('/src/assets/bike.svg'),
      linear-gradient(180deg, var(--green700) 0%, var(--green800) 100%);
  }
  .track-header {
    gap: var(--s1);
  }
</style>
